*{
    box-sizing: border-box;
}


@mixin media-tablet {
    @media (max-width:1200px){
        @content;
    }    
}

@mixin media-phone {
    @media (max-width:767px){
        @content;
    }    
}

@mixin font-title {
    font-size: 2.4rem;
    line-height: (29/24);
    
}

html,
body{
    font-family: 'Libre Frankling', sans-serif;
    font-size: 10px;
}

.container{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;

    @include media-tablet{
        width: 90%;
    }

    @include media-phone{
        width: 100%;
    }

}

.title{
    font-weight: 700;
    color: #333333;
    @include font-title;

    @include media-phone{
        @include font-title;
        font-weight: 600;
        text-align: center; 
    }

}

.text{
    font-size: 1.8rem;
    line-height: 1.66;
    font-weight: 400;
    color: #333333;

    @include media-phone{
         font-size: 1.2rem;
        line-height: 1.25;
        font-weight: 400;
        padding: 0 30px;
    }
}



.to-top{
    position: fixed;
    bottom: 70px;
    right: 170px;
    transform: rotate(90deg);

    @include media-phone{

    bottom: 58px;
    right: 32px;

    }
}
